body {
  background-color: pink;
  color: white;
}

h2 {
  text-align: center;
  margin: auto;
}

table {
  color: white;
}

table .miscellaneous {
  background-color: rgb(255, 153, 163);
}

table .cornertime {
  background-color: rgb(255, 153, 207);
}

table .drinking {
  background-color: rgb(255, 153, 247);
}

table .spanking {
  background-color: rgb(211, 173, 255);
}

table .changing {
  background-color: rgb(170, 175, 253);
}

table .clothing {
  background-color: rgb(128, 210, 255);
}

table .pacifier {
  background-color: rgb(102, 220, 225);
}

table .other {
  background-color: rgb(114, 223, 196);
}

#rerollButton {
  margin-right: 6px;
}

.activeButton {
  margin: 0px 6px;
}

#numRulesInput {
  width: 48px;
  text-align: center;
  color: white;
}

#activeRulesTableControls {
  width: 504px;
  float: right;
  padding: 2px 6px 0px 12px;
  border-radius: 12px;
  background-color: rgb(255, 209, 209);
  margin: 16px;
}

#activeRulesTableHeader h4 {
  margin: 8px 12px;
  float: left;
  width: 295px;
  border-radius: 24px;
}

#activeRulesTableHeader {
  height: 92px;
  border-radius: 24px;
}

#rulesTableTitle {
  margin: auto;
  text-align: center;
  border-radius: 24px;
}

.tableWrapper {
  margin: 50px;
  padding: 12px;
  border: 3px solid white;
  border-radius: 24px;
  background-color: lightpink;
}

#baseRules {
  
}

.baseRuleGroupWrapper {
  
}

.baseRule {
  
}

.collapsible {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 24px;
  text-align: center;
}

.active, .collapsible:hover {
  background-color: rgb(235, 152, 150);
}

.content {
  display: none;
  overflow: hidden;
}